/* ---------------------------- */
/* Base Colors                  */
/* ---------------------------- */
$wallpaper: "/home/madeline/Pictures/Wallpapers/aurora_borealis.jpg";
$background: #121318; // Main background
$background-alt: #1a1b21; // Secondary background
$background-dark: #0d0e13; // Darkest background

/* Text Colors */
$text-main: #e2e2e9; // Primary text color
$text-secondary: #c5c6d0; // Secondary text color
$text-muted: #44464f; // Tertiary text, muted

/* Surface Colors */
$surface-disabled: #44464f; // Background for disabled items
$surface-neutral: #121318; // Neutral surface for cards, panels
$surface-highlight: #38393f; // Selection and highlights

/* Accent Colors */
$primary: #b1c5ff;
$error: #ffb4ab;

/* Overlay Colors */
$text-disabled: #c5c6d0; // Text for disabled elements
$text-muted-light: #44464f; // Light-muted text for hints
$text-muted-dark: #8f9099; // Dark-muted text

$bar-background: rgba(30, 31, 37, 35);
$shadow-color: rgba(30, 31, 37, 0.5);


