/* ---------------------------- */
/* Base Colors                  */
/* ---------------------------- */
$background: #121318; // Main background
$background-alt: #1b1b21; // Secondary background
$background-dark: #0d0e13; // Darkest background

/* Text Colors */
$text-main: #e3e1e9; // Primary text color
$text-secondary: #c6c5d0; // Secondary text color
$text-muted: #46464f; // Tertiary text, muted

/* Surface Colors */
$surface-disabled: #46464f; // Background for disabled items
$surface-neutral: #121318; // Neutral surface for cards, panels
$surface-highlight: #39393f; // Selection and highlights

/* Accent Colors */
$primary: #bac3ff;
$error: #ffb4ab;

/* Overlay Colors */
$text-disabled: #c6c5d0; // Text for disabled elements
$text-muted-light: #46464f; // Light-muted text for hints
$text-muted-dark: #90909a; // Dark-muted text

$bar-background: rgba(31, 31, 37, 35);
$shadow-color: rgba(31, 31, 37, 0.5);


