@use "mixins";
@use "../variable.scss";
@use "../theme.scss";
@use "functions";


#corner-container {
  min-width: 20px;
  min-height: 20px;

  #corner {
    background-color: theme.$bar-background;
    border-radius: 0;
  }
}


#window_title {
  border-radius: variable.$bar-widgets-window_title-border-radius;
  border: if(variable.$bar-widgets-window_title-border-enabled, variable.$border, none);
  border-width: variable.$bar-widgets-window_title-border-width;

  #nerd-icon.panel-font-icon {
    font-size: variable.$bar-widgets-window_title-icon_size;
    margin-right: variable.$bar-widgets-window_title-spacing;
  }
}
