$font-name: JetBrainsMono Nerd Font Propo;
$font-size: 1rem;
$font-weight: 600;
$font-style: normal;
$border-radius: 10px;
$border-width: 1px;

$modules-app_launcher-scaling: 100;
$modules-app_launcher-opacity: 50;
$modules-app_launcher-shadow-enabled: false;
$modules-app_launcher-shadow-offset: 0;
$modules-app_launcher-shadow-blur: 0;
$modules-app_launcher-shadow-spread: 0;
$modules-app_launcher-shadow-opacity: 100;
$modules-app_launcher-padding_x: 8px;
$modules-app_launcher-padding_y: 8px;
$modules-app_launcher-margin_x: 8px;
$modules-app_launcher-margin_y: 8px;
$modules-app_launcher-border-enabled: false;
$modules-app_launcher-border-width: 1px;
$modules-app_launcher-border-radius: 1.5rem;

$modules-notification-scaling: 100;
$modules-notification-opacity: 100;
$modules-notification-shadow-enabled: false;
$modules-notification-shadow-offset: 0;
$modules-notification-shadow-blur: 0;
$modules-notification-shadow-spread: 0;
$modules-notification-shadow-opacity: 100;
$modules-notification-padding_x: .9em;
$modules-notification-padding_y: .9em;
$modules-notification-margin_x: 0;
$modules-notification-margin_y: 1.25em;
$modules-notification-border-enabled: false;
$modules-notification-border-width: 1px;
$modules-notification-border-radius: 16px;

$bar-opacity: 0;
$bar-style-panel: cave;
$bar-style-widget: default;
$bar-shadow-enabled: false;
$bar-shadow-offset: 0;
$bar-shadow-blur: 0;
$bar-shadow-spread: 0;
$bar-shadow-opacity: 100;
$bar-padding_x: .8em;
$bar-padding_y: .6em;

$bar-border-width: 4px;

$bar-buttons-opacity: 100;
$bar-buttons-hover_opacity: 90;
$bar-buttons-shadow-enabled: false;
$bar-buttons-padding_x: 0;
$bar-buttons-padding_y: .50em;
$bar-buttons-shadow-offset: 0;
$bar-buttons-shadow-blur: 0;
$bar-buttons-shadow-spread: 0;
$bar-buttons-shadow-opacity: 100;

$bar-widgets-system_tray-spacing: .125em;
$bar-widgets-system_tray-border-enabled: false;
$bar-widgets-system_tray-border-width: 1px;
$bar-widgets-system_tray-border-radius: 16px;

$bar-widgets-workspaces-spacing: .125em;
$bar-widgets-workspaces-pill-height: .125em;
$bar-widgets-workspaces-pill-width: .5em;
$bar-widgets-workspaces-pill-active_width: 1em;
$bar-widgets-workspaces-border-enabled: false;
$bar-widgets-workspaces-border-width: 1px;
$bar-widgets-workspaces-border-radius: 16px;

$bar-menus-popover-scaling: 100;
$bar-menus-popover-opacity: 100;
$bar-menus-popover-margin_x: 0;
$bar-menus-popover-margin_y: 1.25em;
$bar-menus-popover-padding_x: 1em;
$bar-menus-popover-padding_y: 1em;
$bar-menus-popover-shadow-enabled: false;
$bar-menus-popover-shadow-offset: 0;
$bar-menus-popover-shadow-blur: 0;
$bar-menus-popover-shadow-spread: 0;
$bar-menus-popover-shadow-opacity: 100;
$bar-menus-popover-border-enabled: true;
$bar-menus-popover-border-width: 1px;
$bar-menus-popover-border-radius: 1.5em;
$bar-menus-popover-font-weight: 700;

$bar-menus-tooltip-scaling: 100;
$bar-menus-tooltip-opacity: 100;
$bar-menus-tooltip-border-enabled: false;
$bar-menus-tooltip-border-width: 1px;
$bar-menus-tooltip-border-radius: 1em;
$bar-menus-tooltip-shadow-enabled: false;
$bar-menus-tooltip-shadow-offset: 0;
$bar-menus-tooltip-shadow-blur: 0;
$bar-menus-tooltip-shadow-spread: 0;
$bar-menus-tooltip-shadow-opacity: 100;
$bar-menus-tooltip-font-weight: 700;
$bar-menus-tooltip-padding_x: .25em;
$bar-menus-tooltip-padding_y: .125em;
