@use "common";
@use "variable";
@use "cliphist.scss";
@use "datemenu.scss";
@use "emoji.scss";
@use "system_tray.scss";
@use "notification.scss";
@use "workspace.scss";
@use "osd.scss";
@use "quicksettings.scss";
@use "playerctl.scss";
@use "qs_sliders.scss";

/* unset so we can style everything from the ground up. */

* {
  all: unset;
  font-size: variable.$font-size;
  font-family: variable.$font-name;
  font-family: variable.$font-name;
  font-style: variable.$font-style;
}
