@use "sass:color";
@use "theme";
@use "variable";
@use "common";

#quick-settings-menu {
  @include common.floating-widget;
  @include common.spacing;

  background-color: theme.$background;
  border-radius: variable.$radius;
  min-width: variable.$quicksettings-width;
  min-height: 50px;
}

.quicksettings-toggler {
  background-color: theme.$background-alt;
  color: theme.$text-main;
  border-radius: variable.$radius;
  padding: common.toEm(8) common.toEm(12);

  min-width: 170px;
  transition:
    background-color 120ms ease,
    color 120ms ease;

  &:hover,
  &:focus {
    background-color: theme.$surface-highlight;
  }

  &:active {
    background-color: color.mix(
      theme.$primary,
      theme.$surface-highlight,
      15%
    );
  }
}

.quicksettings-toggler.active {
  background-color: theme.$primary;
  color: theme.$text-muted-light;
}

// Submenu styles
#submenu {
  margin-top: 10px;
  background-color: theme.$background-alt;
  border-radius: variable.$radius;
  padding: common.toEm(8);

  .submenu-title-box {
    margin-bottom: 10px;
    padding: common.toEm(5);

    .panel-font-icon {
      font-size: 18px;
      font-weight: bold;
    }

    .submenu-title-label {
      margin-left: 10px;
      @extend %caption_heading;
    }
  }

  .submenu-item-label {
    font-size: 13px;
    margin-left: 5px;
  }
}
